2017-06-11T10:22:07.087+02:00
<br />contemporaneity.au.dk
<br /><div style="position:absolute;top:15px;left:10px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/</div>
<div style="position:absolute;top:15px;left:10px;background:magenta;height:5px;width:9.8px;font-size:0.75em;">49</div>
<div style="position:absolute;top:15px;left:19.8px;background:blue;height:5px;width:171.4px;font-size:0.75em;">857</div>
<div style="position:absolute;top:15px;left:191.2px;background:green;height:5px;width:9.6px;font-size:0.75em;">48</div>
<div style="position:absolute;top:20px;left:200.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3temp/stylesheet_9799ff1802.css?1462799010</div>
<div style="position:absolute;top:20px;left:200.8px;background:magenta;height:5px;width:0.8px;font-size:0.75em;">4</div>
<div style="position:absolute;top:20px;left:201.6px;background:blue;height:5px;width:7.6px;font-size:0.75em;">38</div>
<div style="position:absolute;top:25px;left:209.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.aucdn.dk/2016/assets/css/app.css</div>
<div style="position:absolute;top:25px;left:209.2px;background:magenta;height:5px;width:21.4px;font-size:0.75em;">107</div>
<div style="position:absolute;top:25px;left:230.6px;background:blue;height:5px;width:8.4px;font-size:0.75em;">42</div>
<div style="position:absolute;top:30px;left:239px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.aucdn.dk/vendor/css/jqueryui/theme.css</div>
<div style="position:absolute;top:30px;left:239px;background:magenta;height:5px;width:7.6px;font-size:0.75em;">38</div>
<div style="position:absolute;top:30px;left:246.6px;background:cyan;height:5px;width:6.2px;font-size:0.75em;">31</div>
<div style="position:absolute;top:30px;left:252.8px;background:blue;height:5px;width:10.6px;font-size:0.75em;">53</div>
<div style="position:absolute;top:35px;left:263.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/Css/CssDemo.css?1462781932</div>
<div style="position:absolute;top:35px;left:263.4px;background:magenta;height:5px;width:5.6px;font-size:0.75em;">28</div>
<div style="position:absolute;top:35px;left:269px;background:blue;height:5px;width:9.8px;font-size:0.75em;">49</div>
<div style="position:absolute;top:40px;left:278.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/au_config/css/powermail-overrides.css?1486629253</div>
<div style="position:absolute;top:40px;left:278.8px;background:magenta;height:5px;width:6px;font-size:0.75em;">30</div>
<div style="position:absolute;top:40px;left:284.8px;background:blue;height:5px;width:14.4px;font-size:0.75em;">72</div>
<div style="position:absolute;top:45px;left:299.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.aucdn.dk/2016/assets/js/vendor.js</div>
<div style="position:absolute;top:45px;left:299.2px;background:magenta;height:5px;width:5.4px;font-size:0.75em;">27</div>
<div style="position:absolute;top:45px;left:304.6px;background:cyan;height:5px;width:6.2px;font-size:0.75em;">31</div>
<div style="position:absolute;top:45px;left:310.8px;background:yellow;height:5px;width:12.2px;font-size:0.75em;">61</div>
<div style="position:absolute;top:45px;left:323px;background:blue;height:5px;width:9px;font-size:0.75em;">45</div>
<div style="position:absolute;top:50px;left:332px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js</div>
<div style="position:absolute;top:50px;left:332px;background:blue;height:5px;width:4.8px;font-size:0.75em;">24</div>
<div style="position:absolute;top:55px;left:336.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js</div>
<div style="position:absolute;top:55px;left:336.8px;background:blue;height:5px;width:4.4px;font-size:0.75em;">22</div>
<div style="position:absolute;top:60px;left:341.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.aucdn.dk/2016/assets/js/app.js</div>
<div style="position:absolute;top:60px;left:341.2px;background:magenta;height:5px;width:23.4px;font-size:0.75em;">117</div>
<div style="position:absolute;top:60px;left:364.6px;background:blue;height:5px;width:10px;font-size:0.75em;">50</div>
<div style="position:absolute;top:65px;left:374.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/googlequery/pi1/res/autosuggest.js</div>
<div style="position:absolute;top:65px;left:374.6px;background:cyan;height:5px;width:4.6px;font-size:0.75em;">23</div>
<div style="position:absolute;top:65px;left:379.2px;background:blue;height:5px;width:14.8px;font-size:0.75em;">74</div>
<div style="position:absolute;top:70px;left:394px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/googlequery/pi1/res/css/autosuggest.css</div>
<div style="position:absolute;top:70px;left:394px;background:cyan;height:5px;width:4px;font-size:0.75em;">20</div>
<div style="position:absolute;top:70px;left:398px;background:blue;height:5px;width:10.8px;font-size:0.75em;">54</div>
<div style="position:absolute;top:75px;left:408.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.min.js</div>
<div style="position:absolute;top:75px;left:408.8px;background:magenta;height:5px;width:0.2px;font-size:0.75em;">1</div>
<div style="position:absolute;top:75px;left:409px;background:blue;height:5px;width:5.6px;font-size:0.75em;">28</div>
<div style="position:absolute;top:80px;left:414.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux.min.js</div>
<div style="position:absolute;top:80px;left:414.6px;background:magenta;height:5px;width:0.6px;font-size:0.75em;">3</div>
<div style="position:absolute;top:80px;left:415.2px;background:blue;height:5px;width:4.4px;font-size:0.75em;">22</div>
<div style="position:absolute;top:85px;left:419.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdnjs.cloudflare.com/ajax/libs/axios/0.13.1/axios.min.js</div>
<div style="position:absolute;top:85px;left:419.6px;background:magenta;height:5px;width:0.2px;font-size:0.75em;">1</div>
<div style="position:absolute;top:85px;left:419.8px;background:blue;height:5px;width:4.4px;font-size:0.75em;">22</div>
<div style="position:absolute;top:90px;left:424.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdnjs.cloudflare.com/ajax/libs/lodash-compat/3.10.2/lodash.min.js</div>
<div style="position:absolute;top:90px;left:424.2px;background:blue;height:5px;width:4.4px;font-size:0.75em;">22</div>
<div style="position:absolute;top:95px;left:428.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.aucdn.dk/apps/react/findwidget/assets/app.js</div>
<div style="position:absolute;top:95px;left:428.6px;background:blue;height:5px;width:10.4px;font-size:0.75em;">52</div>
<div style="position:absolute;top:100px;left:439px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Libraries/jquery.datetimepicker.js?1462781932</div>
<div style="position:absolute;top:100px;left:439px;background:blue;height:5px;width:11.2px;font-size:0.75em;">56</div>
<div style="position:absolute;top:105px;left:450.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Libraries/parsley.min.js?1462781932</div>
<div style="position:absolute;top:105px;left:450.2px;background:blue;height:5px;width:11px;font-size:0.75em;">55</div>
<div style="position:absolute;top:110px;left:461.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Powermail/Tabs.js?1462781932</div>
<div style="position:absolute;top:110px;left:461.2px;background:magenta;height:5px;width:1px;font-size:0.75em;">5</div>
<div style="position:absolute;top:110px;left:462.2px;background:blue;height:5px;width:12px;font-size:0.75em;">60</div>
<div style="position:absolute;top:115px;left:474.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Powermail/Form.js?1462781932</div>
<div style="position:absolute;top:115px;left:474.2px;background:magenta;height:5px;width:0.6px;font-size:0.75em;">3</div>
<div style="position:absolute;top:115px;left:474.8px;background:blue;height:5px;width:12px;font-size:0.75em;">60</div>
<div style="position:absolute;top:120px;left:486.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://maps.googleapis.com/maps/api/js?key=AIzaSyBP04DSgKVcqkYGO_Xb4GgqXHMzRO_2jzo</div>
<div style="position:absolute;top:120px;left:486.8px;background:blue;height:5px;width:5.6px;font-size:0.75em;">28</div>
<div style="position:absolute;top:120px;left:492.4px;background:green;height:5px;width:1.6px;font-size:0.75em;">8</div>
<div style="position:absolute;top:125px;left:494px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://siteimproveanalytics.com/js/siteanalyze_4573657.js</div>
<div style="position:absolute;top:125px;left:494px;background:magenta;height:5px;width:5.2px;font-size:0.75em;">26</div>
<div style="position:absolute;top:125px;left:499.2px;background:blue;height:5px;width:5px;font-size:0.75em;">25</div>
<div style="position:absolute;top:130px;left:504.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://www.aucdn.dk/2016/assets/img/logos.svg#au-en</div>
<div style="position:absolute;top:130px;left:504.2px;background:magenta;height:5px;width:3.2px;font-size:0.75em;">16</div>
<div style="position:absolute;top:130px;left:507.4px;background:cyan;height:5px;width:2.2px;font-size:0.75em;">11</div>
<div style="position:absolute;top:130px;left:509.6px;background:blue;height:5px;width:8.2px;font-size:0.75em;">41</div>
<div style="position:absolute;top:135px;left:517.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://script.crazyegg.com/pages/scripts/0028/5356.js?415880</div>
<div style="position:absolute;top:135px;left:517.8px;background:magenta;height:5px;width:3.4px;font-size:0.75em;">17</div>
<div style="position:absolute;top:135px;left:521.2px;background:blue;height:5px;width:11px;font-size:0.75em;">55</div>
<div style="position:absolute;top:140px;left:532.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://www.aucdn.dk/2016/assets/img/au_segl-inv.svg</div>
<div style="position:absolute;top:140px;left:532.2px;background:blue;height:5px;width:14.8px;font-size:0.75em;">74</div>
<div style="position:absolute;top:145px;left:547px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/fileadmin/user_upload/dff_logo_rgb_horizontal_blue.jpg</div>
<div style="position:absolute;top:145px;left:547px;background:blue;height:5px;width:15.2px;font-size:0.75em;">76</div>
<div style="position:absolute;top:150px;left:562.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://platform.twitter.com/widgets.js</div>
<div style="position:absolute;top:150px;left:562.2px;background:magenta;height:5px;width:14.6px;font-size:0.75em;">73</div>
<div style="position:absolute;top:150px;left:576.8px;background:cyan;height:5px;width:7px;font-size:0.75em;">35</div>
<div style="position:absolute;top:150px;left:583.8px;background:blue;height:5px;width:39.2px;font-size:0.75em;">196</div>
<div style="position:absolute;top:155px;left:623px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3temp/_processed_/csm_garden_30b8d3f9f8.jpg</div>
<div style="position:absolute;top:155px;left:623px;background:blue;height:5px;width:14.6px;font-size:0.75em;">73</div>
<div style="position:absolute;top:160px;left:637.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3temp/_processed_/csm_journal_cover_d52e6888a2.jpg</div>
<div style="position:absolute;top:160px;left:637.6px;background:blue;height:5px;width:15.6px;font-size:0.75em;">78</div>
<div style="position:absolute;top:165px;left:653.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/typo3temp/_processed_/csm_Aros_b9a763283f.jpg</div>
<div style="position:absolute;top:165px;left:653.2px;background:blue;height:5px;width:16.2px;font-size:0.75em;">81</div>
<div style="position:absolute;top:170px;left:669.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://www.aucdn.dk/2016/assets/img/au_segl.svg</div>
<div style="position:absolute;top:170px;left:669.4px;background:blue;height:5px;width:15.6px;font-size:0.75em;">78</div>
<div style="position:absolute;top:175px;left:685px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://csi.gstatic.com/csi?v=2&s=mapsapi3&v3v=29.2&action=apiboot2&e=10_1_0,10_2_0&rt=main.11</div>
<div style="position:absolute;top:175px;left:685px;background:magenta;height:5px;width:1px;font-size:0.75em;">5</div>
<div style="position:absolute;top:175px;left:686px;background:blue;height:5px;width:28.8px;font-size:0.75em;">144</div>
<div style="position:absolute;top:180px;left:714.8px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://contemporaneity.au.dk/uploads/tx_templavoila/gif_animation.gif</div>
<div style="position:absolute;top:180px;left:714.8px;background:blue;height:5px;width:10.4px;font-size:0.75em;">52</div>
<div style="position:absolute;top:185px;left:725.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://ssl.siteimprove.com/image.aspx?url=http%3A%2F%2Fcontemporaneity.au.dk%2F&title=contemporaneity.au.dk&res=1920x1080&accountid=4573657&rt=3249&prev=1494612638543&luid=ca0bf950-7639-6a92-a4f0-2cd74ebeb0ec&rnd=62508</div>
<div style="position:absolute;top:185px;left:725.2px;background:magenta;height:5px;width:9.2px;font-size:0.75em;">46</div>
<div style="position:absolute;top:185px;left:734.4px;background:blue;height:5px;width:6.2px;font-size:0.75em;">31</div>
<div style="position:absolute;top:190px;left:740.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://platform.twitter.com/js/timeline.49f24b3ed4b1be2d087c97aca497c0d1.js</div>
<div style="position:absolute;top:190px;left:740.6px;background:magenta;height:5px;width:58.8px;font-size:0.75em;">294</div>
<div style="position:absolute;top:190px;left:799.4px;background:blue;height:5px;width:29.2px;font-size:0.75em;">146</div>
<div style="position:absolute;top:195px;left:828.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.google-analytics.com/analytics.js</div>
<div style="position:absolute;top:195px;left:828.6px;background:blue;height:5px;width:3.8px;font-size:0.75em;">19</div>
<div style="position:absolute;top:200px;left:832.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://syndication.twitter.com/i/jot/syndication?l=%7B%22_category_%22%3A%22syndicated_impression%22%2C%22triggered_on%22%3A1497169331675%2C%22dnt%22%3Afalse%2C%22event_namespace%22%3A%7B%22client%22%3A%22tfw%22%2C%22page%22%3A%22timeline%22%2C%22action%22%3A%22impression%22%7D%7D</div>
<div style="position:absolute;top:200px;left:832.4px;background:blue;height:5px;width:48px;font-size:0.75em;">240</div>
<div style="position:absolute;top:200px;left:880.4px;background:green;height:5px;width:1px;font-size:0.75em;">5</div>
<div style="position:absolute;top:205px;left:881.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://cdn.syndication.twimg.com/widgets/timelines/796292432560345089?callback=__twttr.callbacks.tl_i0_796292432560345089_old&dnt=false&domain=contemporaneity.au.dk&lang=en&suppress_response_codes=true&t=1663521</div>
<div style="position:absolute;top:205px;left:881.4px;background:blue;height:5px;width:3.6px;font-size:0.75em;">18</div>
<div style="position:absolute;top:210px;left:885px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.google-analytics.com/plugins/ua/linkid.js</div>
<div style="position:absolute;top:210px;left:885px;background:blue;height:5px;width:4px;font-size:0.75em;">20</div>
<div style="position:absolute;top:215px;left:889px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://platform.twitter.com/css/timeline.617c78967784cf8638fa20f3423757ac.dark.ltr.css</div>
<div style="position:absolute;top:215px;left:889px;background:blue;height:5px;width:30px;font-size:0.75em;">150</div>
<div style="position:absolute;top:220px;left:919px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/card_img/871151693131632641/vx8hdS5_?format=jpg&name=144x144_2" /></div>
<div style="position:absolute;top:225px;left:919px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/card_img/872376744283705344/roR9RdTk?format=jpg&name=144x144_2" /></div>
<div style="position:absolute;top:230px;left:919px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/tweet_video_thumb/CypbULqWIAASU0D.jpg" /></div>
<div style="position:absolute;top:235px;left:919px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">http://platform.twitter.com/css/timeline.617c78967784cf8638fa20f3423757ac.dark.ltr.css</div>
<div style="position:absolute;top:240px;left:919px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://ton.twimg.com/tfw/css/syndication_bundle_v1_dd34884f9028317f23f9245796c1183e092d8b82.css</div>
<div style="position:absolute;top:240px;left:919px;background:blue;height:5px;width:2.4px;font-size:0.75em;">12</div>
<div style="position:absolute;top:245px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/860825537572478976/npu-7cBe_normal.jpg" /></div>
<div style="position:absolute;top:250px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/552493304432955392/YgRG07nP_normal.jpeg" /></div>
<div style="position:absolute;top:255px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/862379083547770880/tzWTGt35_normal.jpg" /></div>
<div style="position:absolute;top:260px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/547873260658909187/4kr208yi_normal.jpeg" /></div>
<div style="position:absolute;top:265px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/595675972684349440/Tsd9eu-i_normal.jpg" /></div>
<div style="position:absolute;top:270px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/1206270180/U.S._Open_-_Photo6_normal.jpg" /></div>
<div style="position:absolute;top:275px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/860338559097724928/C3XVokmX_normal.jpg" /></div>
<div style="position:absolute;top:280px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/864910566099361792/ry_-j_ZD_normal.jpg" /></div>
<div style="position:absolute;top:285px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/profile_images/862698614694563841/MDy6qZAf_normal.jpg" /></div>
<div style="position:absolute;top:290px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;"><img src="https://pbs.twimg.com/media/DB4feh_XkAA4evl.jpg:small" /></div>
<div style="position:absolute;top:295px;left:921.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://stats.g.doubleclick.net/r/collect?t=dc&aip=1&_r=3&v=1&_v=j55&tid=UA-2142081-1&cid=966902781.1494612547&jid=2009864292&gjid=1949372170&_gid=89589800.1497124831&_u=CCCAgEAj~&z=733791410</div>
<div style="position:absolute;top:295px;left:921.4px;background:blue;height:5px;width:5.8px;font-size:0.75em;">29</div>
<div style="position:absolute;top:295px;left:927.2px;background:green;height:5px;width:0.2px;font-size:0.75em;">1</div>
<div style="position:absolute;top:300px;left:927.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://ton.twimg.com/tfw/css/syndication_bundle_v1_dd34884f9028317f23f9245796c1183e092d8b82.css</div>
<div style="position:absolute;top:305px;left:927.4px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://www.google-analytics.com/collect?v=1&_v=j55&a=603089302&t=pageview&_s=1&dl=http%3A%2F%2Fcontemporaneity.au.dk%2F&ul=en-us&de=UTF-8&dt=contemporaneity.au.dk&sd=24-bit&sr=1920x1080&vp=6x773&je=0&_u=CCCAgEAj~&jid=2009864292&gjid=1949372170&cid=966902781.1494612547&tid=UA-2142081-1&_gid=89589800.1497124831&cd5=normal&z=570352538</div>
<div style="position:absolute;top:305px;left:927.4px;background:blue;height:5px;width:5.8px;font-size:0.75em;">29</div>
<div style="position:absolute;top:310px;left:933.2px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://syndication.twitter.com/i/jot</div>
<div style="position:absolute;top:310px;left:933.2px;background:blue;height:5px;width:47.4px;font-size:0.75em;">237</div>
<div style="position:absolute;top:315px;left:980.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://platform.twitter.com/jot.html</div>
<div style="position:absolute;top:320px;left:980.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://maps.googleapis.com/maps-api-v3/api/js/29/2/common.js</div>
<div style="position:absolute;top:325px;left:980.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://maps.googleapis.com/maps-api-v3/api/js/29/2/util.js</div>
<div style="position:absolute;top:330px;left:980.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://maps.googleapis.com/maps-api-v3/api/js/29/2/stats.js</div>
<div style="position:absolute;top:335px;left:980.6px;background:transparent;font-size:0.75em;" onmouseover="this.style.backgroundColor='white';this.style.zIndex=1000;this.style.padding='10px';" onmouseout="this.style.backgroundColor='transparent';this.style.padding='3px';this.style.zIndex=10;">https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp%3A%2F%2Fcontemporaneity.au.dk%2F&4sAIzaSyBP04DSgKVcqkYGO_Xb4GgqXHMzRO_2jzo&callback=_xdc_._z4macb&token=73254</div>
<div style="position:absolute;top:335px;left:980.6px;background:blue;height:5px;width:15.2px;font-size:0.75em;">76</div>
