2017-06-11T10:11:38.791+02:00
<br />contemporaneity.au.dk
<br /><div style="position:absolute;top:15px;left:10px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/</div>
<div style="position:absolute;top:15px;left:10px;background:blue;height:5px;width:125.2px;font-size:0.75em;">313</div>
<div style="position:absolute;top:15px;left:135.2px;background:green;height:5px;width:14px;font-size:0.75em;">35</div>
<div style="position:absolute;top:20px;left:149.2px;background:transparent;font-size:0.75em;">https://www.aucdn.dk/2016/assets/js/app.js</div>
<div style="position:absolute;top:20px;left:149.2px;background:magenta;height:5px;width:24.4px;font-size:0.75em;">61</div>
<div style="position:absolute;top:20px;left:173.6px;background:blue;height:5px;width:17.2px;font-size:0.75em;">43</div>
<div style="position:absolute;top:25px;left:190.8px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/googlequery/pi1/res/autosuggest.js</div>
<div style="position:absolute;top:25px;left:190.8px;background:blue;height:5px;width:18.4px;font-size:0.75em;">46</div>
<div style="position:absolute;top:30px;left:209.2px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/googlequery/pi1/res/css/autosuggest.css</div>
<div style="position:absolute;top:30px;left:209.2px;background:magenta;height:5px;width:14.4px;font-size:0.75em;">36</div>
<div style="position:absolute;top:30px;left:223.6px;background:blue;height:5px;width:20.4px;font-size:0.75em;">51</div>
<div style="position:absolute;top:35px;left:244px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3temp/stylesheet_9799ff1802.css?1462799010</div>
<div style="position:absolute;top:35px;left:244px;background:cyan;height:5px;width:1.2px;font-size:0.75em;">3</div>
<div style="position:absolute;top:35px;left:245.2px;background:blue;height:5px;width:17.6px;font-size:0.75em;">44</div>
<div style="position:absolute;top:40px;left:262.8px;background:transparent;font-size:0.75em;">https://www.aucdn.dk/2016/assets/css/app.css</div>
<div style="position:absolute;top:40px;left:262.8px;background:magenta;height:5px;width:23.6px;font-size:0.75em;">59</div>
<div style="position:absolute;top:40px;left:286.4px;background:blue;height:5px;width:18.8px;font-size:0.75em;">47</div>
<div style="position:absolute;top:45px;left:305.2px;background:transparent;font-size:0.75em;">https://www.aucdn.dk/vendor/css/jqueryui/theme.css</div>
<div style="position:absolute;top:45px;left:305.2px;background:magenta;height:5px;width:1.6px;font-size:0.75em;">4</div>
<div style="position:absolute;top:45px;left:306.8px;background:yellow;height:5px;width:19.6px;font-size:0.75em;">49</div>
<div style="position:absolute;top:45px;left:326.4px;background:blue;height:5px;width:18.8px;font-size:0.75em;">47</div>
<div style="position:absolute;top:50px;left:345.2px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/Css/CssDemo.css?1462781932</div>
<div style="position:absolute;top:50px;left:345.2px;background:cyan;height:5px;width:0.8px;font-size:0.75em;">2</div>
<div style="position:absolute;top:50px;left:346px;background:yellow;height:5px;width:16.8px;font-size:0.75em;">42</div>
<div style="position:absolute;top:50px;left:362.8px;background:blue;height:5px;width:18.8px;font-size:0.75em;">47</div>
<div style="position:absolute;top:55px;left:381.6px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/au_config/css/powermail-overrides.css?1486629253</div>
<div style="position:absolute;top:55px;left:381.6px;background:cyan;height:5px;width:0.4px;font-size:0.75em;">1</div>
<div style="position:absolute;top:55px;left:382px;background:blue;height:5px;width:18.4px;font-size:0.75em;">46</div>
<div style="position:absolute;top:60px;left:400.4px;background:transparent;font-size:0.75em;">https://www.aucdn.dk/2016/assets/js/vendor.js</div>
<div style="position:absolute;top:60px;left:400.4px;background:magenta;height:5px;width:4px;font-size:0.75em;">10</div>
<div style="position:absolute;top:60px;left:404.4px;background:blue;height:5px;width:18.4px;font-size:0.75em;">46</div>
<div style="position:absolute;top:65px;left:422.8px;background:transparent;font-size:0.75em;">https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js</div>
<div style="position:absolute;top:65px;left:422.8px;background:blue;height:5px;width:4.8px;font-size:0.75em;">12</div>
<div style="position:absolute;top:70px;left:427.6px;background:transparent;font-size:0.75em;">https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js</div>
<div style="position:absolute;top:70px;left:427.6px;background:blue;height:5px;width:4px;font-size:0.75em;">10</div>
<div style="position:absolute;top:75px;left:431.6px;background:transparent;font-size:0.75em;">https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.min.js</div>
<div style="position:absolute;top:75px;left:431.6px;background:magenta;height:5px;width:1.6px;font-size:0.75em;">4</div>
<div style="position:absolute;top:75px;left:433.2px;background:blue;height:5px;width:8.4px;font-size:0.75em;">21</div>
<div style="position:absolute;top:80px;left:441.6px;background:transparent;font-size:0.75em;">https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux.min.js</div>
<div style="position:absolute;top:80px;left:441.6px;background:magenta;height:5px;width:3.2px;font-size:0.75em;">8</div>
<div style="position:absolute;top:80px;left:444.8px;background:blue;height:5px;width:6px;font-size:0.75em;">15</div>
<div style="position:absolute;top:85px;left:450.8px;background:transparent;font-size:0.75em;">https://cdnjs.cloudflare.com/ajax/libs/axios/0.13.1/axios.min.js</div>
<div style="position:absolute;top:85px;left:450.8px;background:magenta;height:5px;width:2px;font-size:0.75em;">5</div>
<div style="position:absolute;top:85px;left:452.8px;background:blue;height:5px;width:14.4px;font-size:0.75em;">36</div>
<div style="position:absolute;top:90px;left:467.2px;background:transparent;font-size:0.75em;">https://cdnjs.cloudflare.com/ajax/libs/lodash-compat/3.10.2/lodash.min.js</div>
<div style="position:absolute;top:90px;left:467.2px;background:magenta;height:5px;width:6.4px;font-size:0.75em;">16</div>
<div style="position:absolute;top:90px;left:473.6px;background:blue;height:5px;width:8.8px;font-size:0.75em;">22</div>
<div style="position:absolute;top:95px;left:482.4px;background:transparent;font-size:0.75em;">https://maps.googleapis.com/maps/api/js?key=AIzaSyBP04DSgKVcqkYGO_Xb4GgqXHMzRO_2jzo</div>
<div style="position:absolute;top:95px;left:482.4px;background:magenta;height:5px;width:4.8px;font-size:0.75em;">12</div>
<div style="position:absolute;top:95px;left:487.2px;background:blue;height:5px;width:14.4px;font-size:0.75em;">36</div>
<div style="position:absolute;top:100px;left:501.6px;background:transparent;font-size:0.75em;">https://www.aucdn.dk/apps/react/findwidget/assets/app.js</div>
<div style="position:absolute;top:100px;left:501.6px;background:magenta;height:5px;width:4px;font-size:0.75em;">10</div>
<div style="position:absolute;top:100px;left:505.6px;background:blue;height:5px;width:16.8px;font-size:0.75em;">42</div>
<div style="position:absolute;top:105px;left:522.4px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Libraries/jquery.datetimepicker.js?1462781932</div>
<div style="position:absolute;top:105px;left:522.4px;background:magenta;height:5px;width:2.4px;font-size:0.75em;">6</div>
<div style="position:absolute;top:105px;left:524.8px;background:blue;height:5px;width:20px;font-size:0.75em;">50</div>
<div style="position:absolute;top:110px;left:544.8px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Libraries/parsley.min.js?1462781932</div>
<div style="position:absolute;top:110px;left:544.8px;background:magenta;height:5px;width:1.2px;font-size:0.75em;">3</div>
<div style="position:absolute;top:110px;left:546px;background:blue;height:5px;width:20px;font-size:0.75em;">50</div>
<div style="position:absolute;top:115px;left:566px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Powermail/Tabs.js?1462781932</div>
<div style="position:absolute;top:115px;left:566px;background:magenta;height:5px;width:0.8px;font-size:0.75em;">2</div>
<div style="position:absolute;top:115px;left:566.8px;background:blue;height:5px;width:19.6px;font-size:0.75em;">49</div>
<div style="position:absolute;top:120px;left:586.4px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3conf/ext/powermail/Resources/Public/JavaScripts/Powermail/Form.js?1462781932</div>
<div style="position:absolute;top:120px;left:586.4px;background:magenta;height:5px;width:7.6px;font-size:0.75em;">19</div>
<div style="position:absolute;top:120px;left:594px;background:blue;height:5px;width:19.2px;font-size:0.75em;">48</div>
<div style="position:absolute;top:125px;left:613.2px;background:transparent;font-size:0.75em;">http://siteimproveanalytics.com/js/siteanalyze_4573657.js</div>
<div style="position:absolute;top:125px;left:613.2px;background:blue;height:5px;width:17.6px;font-size:0.75em;">44</div>
<div style="position:absolute;top:130px;left:630.8px;background:transparent;font-size:0.75em;">http://www.aucdn.dk/2016/assets/img/logos.svg#au-en</div>
<div style="position:absolute;top:130px;left:630.8px;background:blue;height:5px;width:26px;font-size:0.75em;">65</div>
<div style="position:absolute;top:135px;left:656.8px;background:transparent;font-size:0.75em;">http://script.crazyegg.com/pages/scripts/0028/5356.js?415880</div>
<div style="position:absolute;top:135px;left:656.8px;background:blue;height:5px;width:14.8px;font-size:0.75em;">37</div>
<div style="position:absolute;top:140px;left:671.6px;background:transparent;font-size:0.75em;">https://csi.gstatic.com/csi?v=2&s=mapsapi3&v3v=29.2&action=apiboot2&e=10_1_0,10_2_0&rt=main.10</div>
<div style="position:absolute;top:140px;left:671.6px;background:blue;height:5px;width:8.4px;font-size:0.75em;">21</div>
<div style="position:absolute;top:145px;left:680px;background:transparent;font-size:0.75em;">http://www.aucdn.dk/2016/assets/img/au_segl-inv.svg</div>
<div style="position:absolute;top:145px;left:680px;background:blue;height:5px;width:18.8px;font-size:0.75em;">47</div>
<div style="position:absolute;top:150px;left:698.8px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/fileadmin/user_upload/dff_logo_rgb_horizontal_blue.jpg</div>
<div style="position:absolute;top:150px;left:698.8px;background:blue;height:5px;width:22.8px;font-size:0.75em;">57</div>
<div style="position:absolute;top:155px;left:721.6px;background:transparent;font-size:0.75em;">http://platform.twitter.com/widgets.js</div>
<div style="position:absolute;top:155px;left:721.6px;background:blue;height:5px;width:7.6px;font-size:0.75em;">19</div>
<div style="position:absolute;top:160px;left:729.2px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3temp/_processed_/csm_garden_30b8d3f9f8.jpg</div>
<div style="position:absolute;top:160px;left:729.2px;background:blue;height:5px;width:38.4px;font-size:0.75em;">96</div>
<div style="position:absolute;top:165px;left:767.6px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3temp/_processed_/csm_journal_cover_d52e6888a2.jpg</div>
<div style="position:absolute;top:165px;left:767.6px;background:blue;height:5px;width:38.4px;font-size:0.75em;">96</div>
<div style="position:absolute;top:170px;left:806px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/typo3temp/_processed_/csm_Aros_b9a763283f.jpg</div>
<div style="position:absolute;top:170px;left:806px;background:blue;height:5px;width:38.4px;font-size:0.75em;">96</div>
<div style="position:absolute;top:175px;left:844.4px;background:transparent;font-size:0.75em;">http://www.aucdn.dk/2016/assets/img/au_segl.svg</div>
<div style="position:absolute;top:175px;left:844.4px;background:blue;height:5px;width:38.4px;font-size:0.75em;">96</div>
<div style="position:absolute;top:180px;left:882.8px;background:transparent;font-size:0.75em;">http://contemporaneity.au.dk/uploads/tx_templavoila/gif_animation.gif</div>
<div style="position:absolute;top:180px;left:882.8px;background:blue;height:5px;width:18px;font-size:0.75em;">45</div>
<div style="position:absolute;top:185px;left:900.8px;background:transparent;font-size:0.75em;">http://ssl.siteimprove.com/image.aspx?url=http%3A%2F%2Fcontemporaneity.au.dk%2F&title=contemporaneity.au.dk&res=1920x1080&accountid=4573657&rt=2693&prev=1494612638543&luid=d293e647-7b55-27a2-6f7a-7e548be95d38&rnd=67826</div>
<div style="position:absolute;top:185px;left:900.8px;background:blue;height:5px;width:27.2px;font-size:0.75em;">68</div>
<div style="position:absolute;top:190px;left:928px;background:transparent;font-size:0.75em;">https://platform.twitter.com/js/timeline.49f24b3ed4b1be2d087c97aca497c0d1.js</div>
<div style="position:absolute;top:190px;left:928px;background:magenta;height:5px;width:15.2px;font-size:0.75em;">38</div>
<div style="position:absolute;top:190px;left:943.2px;background:blue;height:5px;width:8.4px;font-size:0.75em;">21</div>
<div style="position:absolute;top:195px;left:951.6px;background:transparent;font-size:0.75em;">https://www.google-analytics.com/analytics.js</div>
<div style="position:absolute;top:195px;left:951.6px;background:blue;height:5px;width:12.4px;font-size:0.75em;">31</div>
<div style="position:absolute;top:200px;left:964px;background:transparent;font-size:0.75em;">https://syndication.twitter.com/i/jot/syndication?l=%7B%22_category_%22%3A%22syndicated_impression%22%2C%22triggered_on%22%3A1497168702301%2C%22dnt%22%3Afalse%2C%22event_namespace%22%3A%7B%22client%22%3A%22tfw%22%2C%22page%22%3A%22timeline%22%2C%22action%22%3A%22impression%22%7D%7D</div>
<div style="position:absolute;top:200px;left:964px;background:blue;height:5px;width:96.4px;font-size:0.75em;">241</div>
<div style="position:absolute;top:205px;left:1060.4px;background:transparent;font-size:0.75em;">https://cdn.syndication.twimg.com/widgets/timelines/796292432560345089?callback=__twttr.callbacks.tl_i0_796292432560345089_old&dnt=false&domain=contemporaneity.au.dk&lang=en&suppress_response_codes=true&t=1663520</div>
<div style="position:absolute;top:205px;left:1060.4px;background:blue;height:5px;width:86.4px;font-size:0.75em;">216</div>
<div style="position:absolute;top:205px;left:1146.8px;background:green;height:5px;width:1.6px;font-size:0.75em;">4</div>
<div style="position:absolute;top:210px;left:1148.4px;background:transparent;font-size:0.75em;">http://platform.twitter.com/css/timeline.617c78967784cf8638fa20f3423757ac.dark.ltr.css</div>
<div style="position:absolute;top:210px;left:1148.4px;background:blue;height:5px;width:6px;font-size:0.75em;">15</div>
<div style="position:absolute;top:215px;left:1154.4px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/card_img/871151693131632641/vx8hdS5_?format=jpg&name=144x144_2</div>
<div style="position:absolute;top:220px;left:1154.4px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/card_img/872376744283705344/roR9RdTk?format=jpg&name=144x144_2</div>
<div style="position:absolute;top:225px;left:1154.4px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/tweet_video_thumb/CypbULqWIAASU0D.jpg</div>
<div style="position:absolute;top:230px;left:1154.4px;background:transparent;font-size:0.75em;">http://platform.twitter.com/css/timeline.617c78967784cf8638fa20f3423757ac.dark.ltr.css</div>
<div style="position:absolute;top:235px;left:1154.4px;background:transparent;font-size:0.75em;">https://ton.twimg.com/tfw/css/syndication_bundle_v1_dd34884f9028317f23f9245796c1183e092d8b82.css</div>
<div style="position:absolute;top:235px;left:1154.4px;background:magenta;height:5px;width:0.8px;font-size:0.75em;">2</div>
<div style="position:absolute;top:235px;left:1155.2px;background:blue;height:5px;width:8px;font-size:0.75em;">20</div>
<div style="position:absolute;top:240px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/860825537572478976/npu-7cBe_normal.jpg</div>
<div style="position:absolute;top:245px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/552493304432955392/YgRG07nP_normal.jpeg</div>
<div style="position:absolute;top:250px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/862379083547770880/tzWTGt35_normal.jpg</div>
<div style="position:absolute;top:255px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/547873260658909187/4kr208yi_normal.jpeg</div>
<div style="position:absolute;top:260px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/595675972684349440/Tsd9eu-i_normal.jpg</div>
<div style="position:absolute;top:265px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/1206270180/U.S._Open_-_Photo6_normal.jpg</div>
<div style="position:absolute;top:270px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/860338559097724928/C3XVokmX_normal.jpg</div>
<div style="position:absolute;top:275px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/864910566099361792/ry_-j_ZD_normal.jpg</div>
<div style="position:absolute;top:280px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/profile_images/862698614694563841/MDy6qZAf_normal.jpg</div>
<div style="position:absolute;top:285px;left:1163.2px;background:transparent;font-size:0.75em;">https://pbs.twimg.com/media/DB4feh_XkAA4evl.jpg:small</div>
<div style="position:absolute;top:290px;left:1163.2px;background:transparent;font-size:0.75em;">https://ton.twimg.com/tfw/css/syndication_bundle_v1_dd34884f9028317f23f9245796c1183e092d8b82.css</div>
<div style="position:absolute;top:295px;left:1163.2px;background:transparent;font-size:0.75em;">https://www.google-analytics.com/plugins/ua/linkid.js</div>
<div style="position:absolute;top:295px;left:1163.2px;background:blue;height:5px;width:10.8px;font-size:0.75em;">27</div>
<div style="position:absolute;top:300px;left:1174px;background:transparent;font-size:0.75em;">https://www.google-analytics.com/collect?v=1&_v=j55&a=1756249445&t=pageview&_s=1&dl=http%3A%2F%2Fcontemporaneity.au.dk%2F&ul=en-us&de=UTF-8&dt=contemporaneity.au.dk&sd=24-bit&sr=1920x1080&vp=6x773&je=0&_u=CCCAgEAj~&jid=&gjid=&cid=966902781.1494612547&tid=UA-2142081-1&_gid=89589800.1497124831&cd5=normal&z=1743180289</div>
<div style="position:absolute;top:300px;left:1174px;background:blue;height:5px;width:8.8px;font-size:0.75em;">22</div>
<div style="position:absolute;top:305px;left:1182.8px;background:transparent;font-size:0.75em;">https://syndication.twitter.com/i/jot</div>
<div style="position:absolute;top:305px;left:1182.8px;background:blue;height:5px;width:94.4px;font-size:0.75em;">236</div>
<div style="position:absolute;top:310px;left:1277.2px;background:transparent;font-size:0.75em;">https://platform.twitter.com/jot.html</div>
<div style="position:absolute;top:315px;left:1277.2px;background:transparent;font-size:0.75em;">https://maps.googleapis.com/maps-api-v3/api/js/29/2/common.js</div>
<div style="position:absolute;top:320px;left:1277.2px;background:transparent;font-size:0.75em;">https://maps.googleapis.com/maps-api-v3/api/js/29/2/util.js</div>
<div style="position:absolute;top:325px;left:1277.2px;background:transparent;font-size:0.75em;">https://maps.googleapis.com/maps-api-v3/api/js/29/2/stats.js</div>
<div style="position:absolute;top:330px;left:1277.2px;background:transparent;font-size:0.75em;">https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp%3A%2F%2Fcontemporaneity.au.dk%2F&4sAIzaSyBP04DSgKVcqkYGO_Xb4GgqXHMzRO_2jzo&callback=_xdc_._z4macb&token=73254</div>
<div style="position:absolute;top:330px;left:1277.2px;background:blue;height:5px;width:10px;font-size:0.75em;">25</div>
